In [6]:
import pandas
import numpy

In [7]:
file1 = pandas.read_csv('Assignment-2-CleanedData.csv')

In [8]:
file1.drop('Unnamed: 0', axis=1, inplace = True)

In [9]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas_datareader as pdr
import datetime as dt

In [10]:
import requests
import json
import urllib

def get_TickerSymbol(companyName):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(companyName)

    result = requests.get(url).json()
    
    for x in result['ResultSet']['Result']:
                    return x['symbol']
        

arrTicker=[]
comp_name = file1.Entity

    
for  name in comp_name:
    arrTicker.append(get_TickerSymbol(name))
    
    
print(arrTicker)

['AOLS', 'ADP', None, 'CIT-U.TI', None, 'HPQ', None, 'KDDIY', None, 'AOLS', None, None, None, 'GPS', None, None, None, None, None, 'AMTD', 'FIS', 'DNPLY', None, None, None, None, None, 'AT', 'SBUX', None, None, None, '^UMIAMIFL', None, None, None, None, None, None, None, None, None, None, None, None, 'LYNS', None, None, 'IGRW', None, None, None, None, 'HTLD', None, 'AT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'PPB.L', 'JPM-PB', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'CIT-U.TI', None, None, 'GB00B1Z54R10.L', None, None, None, 'MBSS.JK', None, None, None, None, None, None, None, 'NHS', None, None, None, '603330.SS', '200771.SZ', None, None, None, None, None, None, None, None, None, 'GPN', None, None, None, None, None, 'KTC.DU', None, None, 'ATVI', None, None, None, None, 'KCT.V', 'K55306BA2822.KS', None, None, None, None, None, None, 'CIT-U.TI', None, None, 'TER.AX', 'NTDOY', 'TWTR', 'AAPL', None, None, 'NMBS.KL', None, None, None, 'VOD', None, None, None, 'FB', 'YAHOY', 'ADBE', None, None, 'AABA', None, None, 'NDAQ', None, 'JAPSY', None, None, 'D', None, 'SPLS', None, 'UPS', 'CYH', None, None, None, None, 'AOLS', 'HD', 'TGT', 'JPM-PB', 'EBAY', 'AABA', None, None, 'IRS', 'TALK.L', 'MSPYX', None, None, None, None, None, 'CPWFF8.EX', 'SNROF', None, None, '0303.HK', None, None, None, None, None, None, None, None, None, None, None, 'FLINGX', None, None, 'ANTM', 'VKTX', None, None, None, None, None, None, None, None, 'DGX', '0012.KL', None, None, None, None, None, None, '1880.HK', None, None, None, None, '108790.KQ', None, 'AABA', None, None, None, None, None, None, '^CEX', None, None, 'EFX', None]

In [11]:
start = dt.datetime(2004,1,1)
end = dt.datetime(2017,6,6)
panel_data = pdr.DataReader(arrTicker, 'yahoo', start, end)

/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AOLS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'ADP', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: None, replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CIT-U.TI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'HPQ', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'KDDIY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'GPS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AMTD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'FIS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'DNPLY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AT', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'SBUX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '^UMIAMIFL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'LYNS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'IGRW', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'HTLD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'PPB.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'JPM-PB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'GB00B1Z54R10.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'MBSS.JK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NHS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '603330.SS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '200771.SZ', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'GPN', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'KTC.DU', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'ATVI', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'KCT.V', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'K55306BA2822.KS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'TER.AX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NTDOY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'TWTR', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AAPL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NMBS.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'VOD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'FB', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'YAHOY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'ADBE', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'AABA', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'NDAQ', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'JAPSY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'D', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'SPLS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'UPS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CYH', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'HD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'TGT', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'EBAY', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'IRS', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'TALK.L', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'MSPYX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'CPWFF8.EX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'SNROF', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '0303.HK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'FLINGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'ANTM', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'VKTX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'DGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '0012.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '1880.HK', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '108790.KQ', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: '^CEX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/rosenrot/anaconda/lib/python3.6/site-packages/pandas_datareader/yahoo/daily.py:136: SymbolWarning: Failed to read symbol: 'EFX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

RemoteDataError: No data fetched using 'YahooDailyReader'

In [ ]:
panel_data

In [ ]:
# The index in this DataFrame is the major index of the panel_data.
finalData = panel_data.ix['Close']

# Getting all weekdays between 01/01/2000 and 12/31/2016
all_weekdays = pandas.date_range(start=start, end=end, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
finalData = finalData.reindex(all_weekdays)
finalData.head(10)

In [ ]:
finalData2 = finalData.T

In [ ]:
finalData2

In [ ]:
finalData2 = finalData.groupby(pandas.TimeGrouper(freq='12M')).mean()

In [ ]:
finalData2 = finalData2.T
finalData2

In [ ]:

newDataFrame= pandas.DataFrame(columns=['Symbol','Date','Price'])
k =0
for i in range(len(finalData2)) : 
    ts = finalData2.index[i]
    for j in range(len(finalData2.iloc[i])): 
        time_frame = pandas.to_datetime(str(finalData2.columns.values[j]))
        date = time_frame.strftime('%Y-%m-%d')
        newDataFrame.loc[k]=( ts,  date , finalData2.iloc[i][j])
        k=k+1

In [65]:
newDataFrame

      Symbol        Date       Price
0        ADP  2004-01-31   32.813820
1        ADP  2005-01-31   34.064935
2        ADP  2006-01-31   35.050695
3        ADP  2007-01-31   36.863325
4        ADP  2008-01-31   40.408635
5        ADP  2009-01-31   35.680073
6        ADP  2010-01-31   33.713959
7        ADP  2011-01-31   37.884942
8        ADP  2012-01-31   45.168799
9        ADP  2013-01-31   49.372064
10       ADP  2014-01-31   62.635004
11       ADP  2015-01-31   73.676731
12       ADP  2016-01-31   84.028088
13       ADP  2017-01-31   90.823439
14       ADP  2018-01-31  101.266322
15       HPQ  2004-01-31   11.182107
16       HPQ  2005-01-31    9.282525
17       HPQ  2006-01-31   11.431419
18       HPQ  2007-01-31   16.083477
19       HPQ  2008-01-31   21.027115
20       HPQ  2009-01-31   19.370576
21       HPQ  2010-01-31   18.872159
22       HPQ  2011-01-31   20.788701
23       HPQ  2012-01-31   15.047071
24       HPQ  2013-01-31    8.861357
25       HPQ  2014-01-31   10.792335
26       HPQ  2015-01-31   15.770325
27       HPQ  2016-01-31   13.679339
28       HPQ  2017-01-31   13.505929
29       HPQ  2018-01-31   17.734483
..       ...         ...         ...
900   FLINGX  2004-01-31         NaN
901   FLINGX  2005-01-31         NaN
902   FLINGX  2006-01-31         NaN
903   FLINGX  2007-01-31         NaN
904   FLINGX  2008-01-31         NaN
905   FLINGX  2009-01-31         NaN
906   FLINGX  2010-01-31         NaN
907   FLINGX  2011-01-31         NaN
908   FLINGX  2012-01-31         NaN
909   FLINGX  2013-01-31         NaN
910   FLINGX  2014-01-31         NaN
911   FLINGX  2015-01-31         NaN
912   FLINGX  2016-01-31         NaN
913   FLINGX  2017-01-31         NaN
914   FLINGX  2018-01-31         NaN
915  1880.HK  2004-01-31         NaN
916  1880.HK  2005-01-31         NaN
917  1880.HK  2006-01-31         NaN
918  1880.HK  2007-01-31         NaN
919  1880.HK  2008-01-31         NaN
920  1880.HK  2009-01-31         NaN
921  1880.HK  2010-01-31         NaN
922  1880.HK  2011-01-31         NaN
923  1880.HK  2012-01-31         NaN
924  1880.HK  2013-01-31         NaN
925  1880.HK  2014-01-31         NaN
926  1880.HK  2015-01-31         NaN
927  1880.HK  2016-01-31         NaN
928  1880.HK  2017-01-31         NaN
929  1880.HK  2018-01-31         NaN

[930 rows x 3 columns]

In [66]:
newDataFrame.loc[newDataFrame['Date'] == '2005-01-31', 'Date'] = '2004'
newDataFrame.loc[newDataFrame['Date'] == '2006-01-31', 'Date'] = '2005'
newDataFrame.loc[newDataFrame['Date'] == '2007-01-31', 'Date'] = '2006'
newDataFrame.loc[newDataFrame['Date'] == '2008-01-31', 'Date'] = '2007'
newDataFrame.loc[newDataFrame['Date'] == '2009-01-31', 'Date'] = '2008'
newDataFrame.loc[newDataFrame['Date'] == '2010-01-31', 'Date'] = '2009'
newDataFrame.loc[newDataFrame['Date'] == '2011-01-31', 'Date'] = '2010'
newDataFrame.loc[newDataFrame['Date'] == '2012-01-31', 'Date'] = '2011'
newDataFrame.loc[newDataFrame['Date'] == '2013-01-31', 'Date'] = '2012'
newDataFrame.loc[newDataFrame['Date'] == '2014-01-31', 'Date'] = '2013'
newDataFrame.loc[newDataFrame['Date'] == '2015-01-31', 'Date'] = '2014'
newDataFrame.loc[newDataFrame['Date'] == '2016-01-31', 'Date'] = '2015'
newDataFrame.loc[newDataFrame['Date'] == '2017-01-31', 'Date'] = '2016'
newDataFrame.loc[newDataFrame['Date'] == '2018-01-31', 'Date'] = '2017'

In [75]:
newDataFrame = newDataFrame[newDataFrame['Date'] != '2004-01-31']

In [76]:
newDataFrame

        Symbol  Date       Price
1          ADP  2004   34.064935
2          ADP  2005   35.050695
3          ADP  2006   36.863325
4          ADP  2007   40.408635
5          ADP  2008   35.680073
6          ADP  2009   33.713959
7          ADP  2010   37.884942
8          ADP  2011   45.168799
9          ADP  2012   49.372064
10         ADP  2013   62.635004
11         ADP  2014   73.676731
12         ADP  2015   84.028088
13         ADP  2016   90.823439
14         ADP  2017  101.266322
16         HPQ  2004    9.282525
17         HPQ  2005   11.431419
18         HPQ  2006   16.083477
19         HPQ  2007   21.027115
20         HPQ  2008   19.370576
21         HPQ  2009   18.872159
22         HPQ  2010   20.788701
23         HPQ  2011   15.047071
24         HPQ  2012    8.861357
25         HPQ  2013   10.792335
26         HPQ  2014   15.770325
27         HPQ  2015   13.679339
28         HPQ  2016   13.505929
29         HPQ  2017   17.734483
31       KDDIY  2004         NaN
32       KDDIY  2005         NaN
..         ...   ...         ...
898  CPWFF8.EX  2016         NaN
899  CPWFF8.EX  2017         NaN
901     FLINGX  2004         NaN
902     FLINGX  2005         NaN
903     FLINGX  2006         NaN
904     FLINGX  2007         NaN
905     FLINGX  2008         NaN
906     FLINGX  2009         NaN
907     FLINGX  2010         NaN
908     FLINGX  2011         NaN
909     FLINGX  2012         NaN
910     FLINGX  2013         NaN
911     FLINGX  2014         NaN
912     FLINGX  2015         NaN
913     FLINGX  2016         NaN
914     FLINGX  2017         NaN
916    1880.HK  2004         NaN
917    1880.HK  2005         NaN
918    1880.HK  2006         NaN
919    1880.HK  2007         NaN
920    1880.HK  2008         NaN
921    1880.HK  2009         NaN
922    1880.HK  2010         NaN
923    1880.HK  2011         NaN
924    1880.HK  2012         NaN
925    1880.HK  2013         NaN
926    1880.HK  2014         NaN
927    1880.HK  2015         NaN
928    1880.HK  2016         NaN
929    1880.HK  2017         NaN

[868 rows x 3 columns]

In [77]:
newDataFrame.to_csv('Assignment3_FinanceFinalData.csv', index=True, encoding='utf-8')

In [17]:
data_ticker = pandas.DataFrame(arrTicker) 
data_ticker['Ticker_Symbol'] = pandas.Series(arrTicker, index=data_ticker.index)

In [19]:
file1['Ticker_symbol']= data_ticker['Ticker_Symbol']

In [20]:
file1 = file1.dropna(axis=0,how='any')

In [21]:
file1.head()

,Entity,Year,Records Lost,Organisation,Method of Leak,Data Sensitivity,Ticker_symbol
0,AOL,2004,92000000,web,inside job,E-mail Address or Online Information,AOL-U.TI
1,Automatic Data Processing,2005,125000,financial,poor security,SSN/Personal Details,ADP
3,Citigroup,2005,3900000,financial,lost / stolen device,Credit Card Information,CIT-U.TI
5,Hewlett Packard,2006,200000,"tech, retail",lost / stolen device,SSN/Personal Details,HPQ
7,KDDI,2006,4000000,telecoms,hacked,E-mail Address or Online Information,KDDIY

In [22]:
file1.to_csv('Assignment_FinanceData.csv', index=False, encoding='utf-8')