Import the important Libraries

In [1]:
import pandas as pd
import numpy as np

Data Set Source: https://docs.google.com/spreadsheets/d/1Je-YUdnhjQJO_13r8iTeRxpU2pBKuV6RVRHoYCgiMfg/edit#gid=322165570

Data Set: This data source  is called Information is Beautiful and is taken from http://www.informationisbeautiful.net/.
About the Data:
 This data indicates the  security breaches that have been happening from 2004 to 2017, giving all the details such as records lost,
entity, type of organzation, type of hacks and much more.

Upload the csv file

In [2]:
df = pd.read_csv('/Users/rosenrot/Downloads/Information.csv')

View  the csv Data

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY,UNUSED,UNUSED,Exclude,NaN,1st source link,2nd source link,3rd source,source name
1,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...,NaN,NaN,Show this item in the viz?,NaN,NaN,NaN,NaN,NaN
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1,NaN,NaN,NaN,NaN,http://money.cnn.com/2004/06/23/technology/aol...,http://www.msnbc.msn.com/id/8985989/#.UFcN8RgUwaA,NaN,CNN
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20,NaN,NaN,NaN,NaN,http://abcnews.go.com/Technology/story?id=2160...,NaN,NaN,ABC
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20,NaN,NaN,NaN,NaN,http://www.nbcnews.com/id/7561268/,NaN,NaN,NaN

Drop the colums that are not required

In [4]:
df.drop(['Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17'], axis =1,inplace=True)

View the columns again

View the index

In [6]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

Rename the columns

In [7]:
Column_Names=df.iloc[0].values.tolist()
df.columns=Column_Names
df.head()

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY
0,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY
1,NaN,NaN,Elaboration if there's an interesting story or...,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",NaN,NaN,NaN,"(use 3m, 4m, 5m or 10m to approximate unknown ...",1. Just email address/Online information 20 SS...
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20

Make the location 0 as the main index

In [8]:
df.iloc[0].drop

<bound method NDFrame.drop of Entity                                Entity
alternative name            alternative name
story                                  story
YEAR                                    YEAR
records lost                    records lost
ORGANISATION                    ORGANISATION
METHOD OF LEAK                METHOD OF LEAK
interesting story          interesting story
NO OF RECORDS STOLEN    NO OF RECORDS STOLEN
DATA SENSITIVITY            DATA SENSITIVITY
Name: 0, dtype: object>

In [9]:
df.drop(0,inplace=True)

In [11]:
df['alternative name'].isnull().count()

254

In [12]:
len(np.where(df['alternative name'].isnull())[0])

136

In [13]:
len(np.where(df['story'].isnull())[0])

36

In [14]:
len(np.where(df['YEAR'].isnull())[0])

0

In [15]:
len(np.where(df['records lost'].isnull())[0])

2

In [16]:
np.where(df['records lost'].isnull())[0]

array([147, 163])

In [17]:

df.drop(1,inplace=True)

In [18]:
df

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,interesting story,NO OF RECORDS STOLEN,DATA SENSITIVITY
2,AOL,American Online,A former America Online software engineer stol...,0,92000000,web,inside job,NaN,92000000,1
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,1,125000,financial,poor security,NaN,130000,20
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,1,200000,financial,lost / stolen device,NaN,200000,20
5,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,1,3900000,financial,lost / stolen device,y,3900000,300
6,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...",CardSystems was fingered by MasterCard after i...,1,40000000,financial,hacked,y,40000000,300
7,Hewlett Packard,NaN,Laptop lost/stolen containing employee data: n...,2,200000,"tech, retail",lost / stolen device,y,200000,20
8,Countrywide Financial Corp,Mortgage financer,NaN,2,2600000,financial,inside job,NaN,2600000,300
9,KDDI,Japanese telecommunications operator,"Press report: ""Tokyo police have arrested two ...",2,4000000,telecoms,hacked,y,4000000,1
10,"T-Mobile, Deutsche Telecom",NaN,Thieves got their hands on a storage device wi...,2,17000000,telecoms,lost / stolen device,NaN,17000000,1
11,AOL,American Online,Durp. AOL VOLUNTARILY released search data for...,2,20000000,web,accidentally published,y,20000000,1
12,US Dept of Vet Affairs,NaN,The Veterans Affairs Department agreed to pay ...,2,26500000,"government, military",lost / stolen device,NaN,26500000,20
13,Texas Lottery,NaN,"Data on more than 89,000 lottery winners (incl...",3,89000,government,inside job,NaN,90000,20
14,City and Hackney Teaching Primary Care Trust,NaN,Heavily encrypted disks containing details of ...,3,160000,government,lost / stolen device,NaN,160000,20
15,Gap Inc,NaN,Stolen laptop which contained social security ...,3,800000,retail,lost / stolen device,NaN,800000,20
16,Compass Bank,NaN,A former employee stole a hardrive containing ...,3,1000000,financial,inside job,y,1000000,300
17,Monster.com,Jobs website,A trojan virus stole log-ins that were used to...,3,1600000,web,hacked,y,1600000,20
18,Driving Standards Agency,NaN,Hard disk with details of candidates for the d...,3,3000000,government,lost / stolen device,NaN,3000000,20
19,"Driving Standards Agency,",Details of candidates for the driving theory t...,NaN,3,3000000,government,lost / stolen device,NaN,3000000,20
20,Hannaford Brothers Supermarket Chain,"Delhaize Group: Hannaford Bros, Sweetbay, Food...",An estimated 4.2 million credit and debit card...,3,4200000,retail,hacked,NaN,4200000,300
21,TD Ameritrade,US online broker,TD Ameritrade settled a class action lawsuit t...,3,6300000,financial,hacked,NaN,6300000,1
22,Fidelity National Information Services,Employee sold customer information to a data b...,NaN,3,8500000,financial,inside job,NaN,8500000,300
23,Dai Nippon Printing,Japanese printing company,A former contractor of Dai Nippon Printing Com...,3,8637405,retail,inside job,NaN,8600000,1
24,UK Revenue & Customs,HMRC,A set of discs containing confidential details...,3,25000000,government,lost / stolen device,NaN,25000000,1
25,TK / TJ Maxx,Largest retail breach to date,Hackers hacked a Minnesota store wifi network ...,3,94000000,retail,hacked,NaN,94000000,300
26,Service Personnel and Veterans Agency (UK),NaN,Stolen USBs containing personal information ab...,4,50500,government,lost / stolen device,NaN,50000,20
27,Stanford University,NaN,Tens of thousands of past and current Stanford...,4,72000,academic,lost / stolen device,NaN,72000,20
28,UK Home Office,NaN,PA Consulting lost an unencrypted memory stick...,4,84000,government,lost / stolen device,NaN,84000,20
29,AT&T,NaN,A laptop was stolen from a car containing unen...,4,113000,telecoms,lost / stolen device,y,100000,1
30,Starbucks,NaN,A laptop was stolen that contained private inf...,4,97000,retail,lost / stolen device,y,100000,20
31,RBS Worldpay,the U.S. payment processing arm of The Royal B...,The hack primarily effected U.S. prepaid and t...,4,1500000,financial,hacked,NaN,1500000,20
...,...,...,...,...,...,...,...,...,...,...
225,uTorrent,NaN,"It's unclear what data has been breached, exac...",12,35000,web,hacked,NaN,35000,1
226,Banner Health,NaN,Hackers gained access to payment card data via...,12,3700000,healthcare,hacked,NaN,3700000,300
227,Privatization Agency of the Republic of Serbia,NaN,A text file with personal data and financial d...,12,5190396,government,accidentally published,NaN,519396,20
228,Quest Diagnostics,NaN,"Nov. The stolen data contained names, DOBs, la...",13,34000,healthcare,hacked,NaN,34000,4000
229,Three,Three mobile company in the UK,Hackers broke into Three's customer database w...,13,200000,telecoms,hacked,NaN,200000,20
230,Wonga,NaN,Apr. Customers from the UK and Poland look to ...,13,270000,financial,hacked,NaN,270000,50000
231,PayAsUGym,NaN,Dec. Fitness website hacked & email address pu...,13,300000,web,hacked,NaN,300000,1
232,Red Cross Blood Service,NaN,Info leaked includes data about 'at risk sexua...,13,550000,healthcare,accidentally published,NaN,550000,4000
233,DaFont,Font sharing site,May. Apparently the hacker found out others we...,13,700000,web,hacked,NaN,700000,4000
234,Brazzers,Porn site,"Sept. 'The data contains 790,724 unique email ...",13,790724,web,hacked,NaN,790724,4000
235,Snapchat,NaN,Apr. Indian hackers apparently leaked data the...,13,1700000,app,hacked,NaN,1700000,1
236,Bell,NaN,Somebody claiming to be behind the attack has ...,13,1900000,telecoms,hacked,NaN,1900000,1
237,Cellebrite,NaN,Cellebrite's main product is a device that rip...,13,3000000,tech,hacked,y,3000000,20
238,Clinton campaign,NaN,NaN,13,5000000,government,hacked,NaN,5000000,20
239,ClixSense,NaN,Sept. The information stolen contains username...,13,6600000,web,hacked,NaN,6600000,50000
240,Lynda.com,owned by LinkedIn,Hackers breached a database that held records ...,13,9500000,web,hacked,NaN,9500000,1
241,Interpark,NaN,July. South Korean police are blaming North Ko...,13,10000000,web,hacked,NaN,10000000,20
242,Zomato,Restaurants & events,The hacker is selling the stolen dataset for a...,13,17000000,web,hacked,NaN,17000000,4000
243,Yahoo,NaN,User accounts have been hacked using forged co...,13,32000000,web,hacked,NaN,32000000,4000
244,Weebly,NaN,"Feb. Usernames, passwords and IP addresses sto...",13,43000000,web,hacked,NaN,43000000,4000
245,Dailymotion,video sharing site,"85.2m email addresses extracted, but only 18.3...",13,85200000,web,hacked,NaN,85200000,1
246,Friend Finder Network,"Parent company of Adult Friend Finder , Cams.c...","Usernames, email addresses, passwords for site...",13,412000000,web,hacked,NaN,412000000,1
247,River City Media,Spam operator,A dodgy backup has allegedly resulted in over ...,13,1370000000,web,accidentally published,NaN,700000000,20
248,Telegram,Instant messaging service,"Despite Telegram's claims of super security, t...",13,15000000,tech,hacked,NaN,15000000,1
249,Waterly,App for paying water bills,Jan 2017. Israel-based app contained a vulnera...,14,1000000,app,poor security,NaN,1000000,300
250,CEX,NaN,A misconfigured spambot leaked full contact in...,14,2000000,retail,accidentally published,NaN,2000000,300
251,Swedish Transport Agency,NaN,Information about all vehicles in the country ...,14,3000000,government,poor security,y,3000000,50000
252,Instagram,NaN,A bug exposed user's contact information. Inst...,14,6000000,web,hacked,NaN,6000000,1
253,Equifax,NaN,"If you have a credit report, there’s a good ch...",14,143000000,financial,hacked,y,143000000,50000
254,Spambot,NaN,A misconfigured spambot has leaked over 7m rec...,14,711000000,web,poor security,NaN,711000000,4000

Change the year to actual years

In [19]:
df.loc[df['YEAR'] =='0', 'YEAR'] = 2004
df.loc[df['YEAR'] =='1', 'YEAR'] = 2005
df.loc[df['YEAR'] =='2', 'YEAR'] = 2006
df.loc[df['YEAR'] =='3', 'YEAR'] = 2007
df.loc[df['YEAR'] =='4', 'YEAR'] = 2008
df.loc[df['YEAR'] =='5', 'YEAR'] = 2009
df.loc[df['YEAR'] =='6', 'YEAR'] = 2010
df.loc[df['YEAR'] =='7', 'YEAR'] = 2011
df.loc[df['YEAR'] =='8', 'YEAR'] = 2012
df.loc[df['YEAR'] =='9', 'YEAR'] = 2013
df.loc[df['YEAR'] =='10', 'YEAR'] = 2014
df.loc[df['YEAR'] =='11', 'YEAR'] = 2015
df.loc[df['YEAR'] =='12', 'YEAR'] = 2016
df.loc[df['YEAR'] =='13', 'YEAR'] = 2017
df.loc[df['YEAR'] =='14', 'YEAR'] = 2017

In [21]:
np.where(df['records lost'].isnull())[0]

array([146, 162])

In [23]:
np.where(df['records lost'].isnull())[0]

array([146, 162])

In [24]:
len(np.where(df['ORGANISATION'].isnull())[0])

0

In [25]:
len(np.where(df['METHOD OF LEAK'].isnull())[0])

0

In [26]:
df.drop(['interesting story'], axis =1,inplace=True)

In [27]:
df.columns

Index(['Entity', 'alternative name', 'story', 'YEAR', 'records lost',
       'ORGANISATION', 'METHOD OF LEAK', 'NO OF RECORDS STOLEN',
       'DATA SENSITIVITY'],
      dtype='object')

In [29]:
len(np.where(df['DATA SENSITIVITY'].isnull())[0])

0

In [30]:
len(np.where(df['story'].isnull())[0])

36

In [31]:
df

,Entity,alternative name,story,YEAR,records lost,ORGANISATION,METHOD OF LEAK,NO OF RECORDS STOLEN,DATA SENSITIVITY
2,AOL,American Online,A former America Online software engineer stol...,2004,92000000,web,inside job,92000000,1
3,Automatic Data Processing,"Business outsourcing, payrolls, benefits",NaN,2005,125000,financial,poor security,130000,20
4,Ameritrade Inc.,Computer backup tape containing personal infor...,online broker,2005,200000,financial,lost / stolen device,200000,20
5,Citigroup,NaN,Blame the messenger! A box of computer tapes c...,2005,3900000,financial,lost / stolen device,3900000,300
6,Cardsystems Solutions Inc.,"Third-party payment processor for Visa, Master...",CardSystems was fingered by MasterCard after i...,2005,40000000,financial,hacked,40000000,300
7,Hewlett Packard,NaN,Laptop lost/stolen containing employee data: n...,2006,200000,"tech, retail",lost / stolen device,200000,20
8,Countrywide Financial Corp,Mortgage financer,NaN,2006,2600000,financial,inside job,2600000,300
9,KDDI,Japanese telecommunications operator,"Press report: ""Tokyo police have arrested two ...",2006,4000000,telecoms,hacked,4000000,1
10,"T-Mobile, Deutsche Telecom",NaN,Thieves got their hands on a storage device wi...,2006,17000000,telecoms,lost / stolen device,17000000,1
11,AOL,American Online,Durp. AOL VOLUNTARILY released search data for...,2006,20000000,web,accidentally published,20000000,1
12,US Dept of Vet Affairs,NaN,The Veterans Affairs Department agreed to pay ...,2006,26500000,"government, military",lost / stolen device,26500000,20
13,Texas Lottery,NaN,"Data on more than 89,000 lottery winners (incl...",2007,89000,government,inside job,90000,20
14,City and Hackney Teaching Primary Care Trust,NaN,Heavily encrypted disks containing details of ...,2007,160000,government,lost / stolen device,160000,20
15,Gap Inc,NaN,Stolen laptop which contained social security ...,2007,800000,retail,lost / stolen device,800000,20
16,Compass Bank,NaN,A former employee stole a hardrive containing ...,2007,1000000,financial,inside job,1000000,300
17,Monster.com,Jobs website,A trojan virus stole log-ins that were used to...,2007,1600000,web,hacked,1600000,20
18,Driving Standards Agency,NaN,Hard disk with details of candidates for the d...,2007,3000000,government,lost / stolen device,3000000,20
19,"Driving Standards Agency,",Details of candidates for the driving theory t...,NaN,2007,3000000,government,lost / stolen device,3000000,20
20,Hannaford Brothers Supermarket Chain,"Delhaize Group: Hannaford Bros, Sweetbay, Food...",An estimated 4.2 million credit and debit card...,2007,4200000,retail,hacked,4200000,300
21,TD Ameritrade,US online broker,TD Ameritrade settled a class action lawsuit t...,2007,6300000,financial,hacked,6300000,1
22,Fidelity National Information Services,Employee sold customer information to a data b...,NaN,2007,8500000,financial,inside job,8500000,300
23,Dai Nippon Printing,Japanese printing company,A former contractor of Dai Nippon Printing Com...,2007,8637405,retail,inside job,8600000,1
24,UK Revenue & Customs,HMRC,A set of discs containing confidential details...,2007,25000000,government,lost / stolen device,25000000,1
25,TK / TJ Maxx,Largest retail breach to date,Hackers hacked a Minnesota store wifi network ...,2007,94000000,retail,hacked,94000000,300
26,Service Personnel and Veterans Agency (UK),NaN,Stolen USBs containing personal information ab...,2008,50500,government,lost / stolen device,50000,20
27,Stanford University,NaN,Tens of thousands of past and current Stanford...,2008,72000,academic,lost / stolen device,72000,20
28,UK Home Office,NaN,PA Consulting lost an unencrypted memory stick...,2008,84000,government,lost / stolen device,84000,20
29,AT&T,NaN,A laptop was stolen from a car containing unen...,2008,113000,telecoms,lost / stolen device,100000,1
30,Starbucks,NaN,A laptop was stolen that contained private inf...,2008,97000,retail,lost / stolen device,100000,20
31,RBS Worldpay,the U.S. payment processing arm of The Royal B...,The hack primarily effected U.S. prepaid and t...,2008,1500000,financial,hacked,1500000,20
...,...,...,...,...,...,...,...,...,...
225,uTorrent,NaN,"It's unclear what data has been breached, exac...",2016,35000,web,hacked,35000,1
226,Banner Health,NaN,Hackers gained access to payment card data via...,2016,3700000,healthcare,hacked,3700000,300
227,Privatization Agency of the Republic of Serbia,NaN,A text file with personal data and financial d...,2016,5190396,government,accidentally published,519396,20
228,Quest Diagnostics,NaN,"Nov. The stolen data contained names, DOBs, la...",2017,34000,healthcare,hacked,34000,4000
229,Three,Three mobile company in the UK,Hackers broke into Three's customer database w...,2017,200000,telecoms,hacked,200000,20
230,Wonga,NaN,Apr. Customers from the UK and Poland look to ...,2017,270000,financial,hacked,270000,50000
231,PayAsUGym,NaN,Dec. Fitness website hacked & email address pu...,2017,300000,web,hacked,300000,1
232,Red Cross Blood Service,NaN,Info leaked includes data about 'at risk sexua...,2017,550000,healthcare,accidentally published,550000,4000
233,DaFont,Font sharing site,May. Apparently the hacker found out others we...,2017,700000,web,hacked,700000,4000
234,Brazzers,Porn site,"Sept. 'The data contains 790,724 unique email ...",2017,790724,web,hacked,790724,4000
235,Snapchat,NaN,Apr. Indian hackers apparently leaked data the...,2017,1700000,app,hacked,1700000,1
236,Bell,NaN,Somebody claiming to be behind the attack has ...,2017,1900000,telecoms,hacked,1900000,1
237,Cellebrite,NaN,Cellebrite's main product is a device that rip...,2017,3000000,tech,hacked,3000000,20
238,Clinton campaign,NaN,NaN,2017,5000000,government,hacked,5000000,20
239,ClixSense,NaN,Sept. The information stolen contains username...,2017,6600000,web,hacked,6600000,50000
240,Lynda.com,owned by LinkedIn,Hackers breached a database that held records ...,2017,9500000,web,hacked,9500000,1
241,Interpark,NaN,July. South Korean police are blaming North Ko...,2017,10000000,web,hacked,10000000,20
242,Zomato,Restaurants & events,The hacker is selling the stolen dataset for a...,2017,17000000,web,hacked,17000000,4000
243,Yahoo,NaN,User accounts have been hacked using forged co...,2017,32000000,web,hacked,32000000,4000
244,Weebly,NaN,"Feb. Usernames, passwords and IP addresses sto...",2017,43000000,web,hacked,43000000,4000
245,Dailymotion,video sharing site,"85.2m email addresses extracted, but only 18.3...",2017,85200000,web,hacked,85200000,1
246,Friend Finder Network,"Parent company of Adult Friend Finder , Cams.c...","Usernames, email addresses, passwords for site...",2017,412000000,web,hacked,412000000,1
247,River City Media,Spam operator,A dodgy backup has allegedly resulted in over ...,2017,1370000000,web,accidentally published,700000000,20
248,Telegram,Instant messaging service,"Despite Telegram's claims of super security, t...",2017,15000000,tech,hacked,15000000,1
249,Waterly,App for paying water bills,Jan 2017. Israel-based app contained a vulnera...,2017,1000000,app,poor security,1000000,300
250,CEX,NaN,A misconfigured spambot leaked full contact in...,2017,2000000,retail,accidentally published,2000000,300
251,Swedish Transport Agency,NaN,Information about all vehicles in the country ...,2017,3000000,government,poor security,3000000,50000
252,Instagram,NaN,A bug exposed user's contact information. Inst...,2017,6000000,web,hacked,6000000,1
253,Equifax,NaN,"If you have a credit report, there’s a good ch...",2017,143000000,financial,hacked,143000000,50000
254,Spambot,NaN,A misconfigured spambot has leaked over 7m rec...,2017,711000000,web,poor security,711000000,4000

#Delete the columns that are not required

In [32]:
df.drop(['alternative name'], axis =1,inplace=True)

In [33]:
df.drop(['story'], axis =1,inplace=True)

In [34]:
df.drop(['NO OF RECORDS STOLEN'], axis =1,inplace=True)

Update the Data Sensitivity Column according to the keywords for the numbers

In [35]:
df.loc[df['DATA SENSITIVITY'] =='1', 'DATA SENSITIVITY'] = 'Online information'
df.loc[df['DATA SENSITIVITY'] =='20', 'DATA SENSITIVITY'] = 'SSN'
df.loc[df['DATA SENSITIVITY'] =='300', 'DATA SENSITIVITY'] = 'Credit card information'
df.loc[df['DATA SENSITIVITY'] =='4000', 'DATA SENSITIVITY'] = 'Email password'
df.loc[df['DATA SENSITIVITY'] =='50000', 'DATA SENSITIVITY'] = 'Full bank account details'

Resetting the index

In [38]:
df = df.reset_index(drop=True)

Finding out the missing data

In [49]:
np.where(df['DATA SENSITIVITY'].dtype==int)

(array([], dtype=int64),)

In [50]:
type(df['DATA SENSITIVITY'])

pandas.core.series.Series

In [51]:
np.unique(df['DATA SENSITIVITY'])

array(['3', 'Credit card information', 'Email password',
       'Full bank account details', 'Online information', 'SSN'], dtype=object)

Adding information to the missing data

In [52]:
df.loc[df['DATA SENSITIVITY'] =='3', 'DATA SENSITIVITY'] = 'Persional information'

In [70]:
len(np.where(df['records lost'].isnull())[0])

2

In [71]:
np.where(df['records lost'].isnull())[0]

array([146, 162])

In [72]:
df.iloc[146]

Entity                 OVH
YEAR                  2013
records lost           NaN
ORGANISATION           web
METHOD OF LEAK      hacked
DATA SENSITIVITY       SSN
Name: 146, dtype: object

Deleting the missing row in order

In [73]:
df=df.dropna()

In [85]:
df=df.rename(columns={'records lost': 'RECORDS LOST'})

In [86]:
df=df.rename(columns={'Entity': 'ENTITY'})

In [88]:
len(np.where(df['ORGANISATION'].isnull())[0])

0

In [89]:
by_comp = df.groupby('ORGANISATION')
by_comp.min()

,ENTITY,YEAR,RECORDS LOST,METHOD OF LEAK,DATA SENSITIVITY
ORGANISATION,,,,,
academic,Indiana University,2008,125000,accidentally published,Credit card information
app,Snapchat,2017,1000000,hacked,Credit card information
energy,Central Hudson Gas & Electric,2008,110000,hacked,Credit card information
financial,Ameritrade Inc.,2005,1000000,accidentally published,Credit card information
gaming,Bethesda Game Studios,2011,1290755,hacked,Credit card information
government,Australian Immigration Department,2007,100000,accidentally published,Credit card information
"government, healthcare",Medicaid,2009,780000,hacked,Email password
"government, military",US Dept of Vet Affairs,2006,26500000,lost / stolen device,SSN
healthcare,Accendo Insurance Co.,2009,100000,accidentally published,Credit card information
legal,Mossack Fonseca,2016,11500000,hacked,Full bank account details
media,Sony Pictures,2011,10000000,hacked,Credit card information
military,Stratfor,2009,131000,accidentally published,Credit card information
"military, healthcare",Tricare,2011,4901432,lost / stolen device,Email password
retail,British Airways,2007,1025,accidentally published,Credit card information
tech,Adobe,2009,1000000,hacked,Credit card information
"tech, retail","""Apple""",2006,12367232,accidentally published,SSN
"tech, web",Yahoo Japan,2012,22000000,hacked,Online information
telecoms,AT&T,2006,113000,accidentally published,Credit card information
transport,Japan Airlines,2013,1460000,accidentally published,Online information
web,"""Gmail""",2004,1000000,accidentally published,Credit card information
"web, gaming",RockYou!,2009,32000000,hacked,Online information
"web, military",Militarysingles.com,2012,163792,hacked,Online information
"web, tech",SnapChat,2013,4700000,hacked,SSN

In [90]:
by_comp.describe()

                       DATA SENSITIVITY                                    \
                                  count unique                        top
ORGANISATION
academic                              9      3                        SSN
app                                   2      2    Credit card information
energy                                3      2                        SSN
financial                            31      4    Credit card information
gaming                                6      3                        SSN
government                           37      5                        SSN
government, healthcare                2      2                        SSN
government, military                  1      1                        SSN
healthcare                           36      5             Email password
legal                                 1      1  Full bank account details
media                                 3      2                        SSN
military                              6      4                        SSN
military, healthcare                  1      1             Email password
retail                               15      3    Credit card information
tech                                 10      4         Online information
tech, retail                          2      1                        SSN
tech, web                             2      1         Online information
telecoms                              9      3         Online information
transport                             3      2                        SSN
web                                  69      5         Online information
web, gaming                           1      1         Online information
web, military                         1      1         Online information
web, tech                             1      1                        SSN

                            ENTITY         \
                       freq  count unique
ORGANISATION
academic                  6      9      9
app                       1      2      2
energy                    2      3      3
financial                12     31     27
gaming                    3      6      6
government               21     37     37
government, healthcare    1      2      2
government, military      1      1      1
healthcare               17     36     36
legal                     1      1      1
media                     2      3      3
military                  3      6      5
military, healthcare      1      1      1
retail                    9     15     15
tech                      4     10     10
tech, retail              2      2      2
tech, web                 2      2      2
telecoms                  5      9      8
transport                 2      3      3
web                      38     69     64
web, gaming               1      1      1
web, military             1      1      1
web, tech                 1      1      1

                                                                         \
                                                               top freq
ORGANISATION
academic                         University of California Berkeley    1
app                                                        Waterly    1
energy                               New York State Electric & Gas    1
financial                                                Citigroup    3
gaming                                   Sony Online Entertainment    1
government              Service Personnel and Veterans Agency (UK)    1
government, healthcare                    Virginia Dept. Of Health    1
government, military                        US Dept of Vet Affairs    1
healthcare                   Emergency Healthcare Physicians, Ltd.    1
legal                                              Mossack Fonseca    1
media                                                Sony Pictures    1
military                                               US Military    2
military, healthcare                                       Tricare    1
retail                                         Dai Nippon Printing    1
tech                                                         Slack    1
tech, retail                                       Hewlett Packard    1
tech, web                                              Yahoo Japan    1
telecoms                                                      AT&T    2
transport                                           Japan Airlines    1
web                                                            AOL    3
web, gaming                                               RockYou!    1
web, military                                  Militarysingles.com    1
web, tech                                                 SnapChat    1

                       METHOD OF LEAK                                      \
                                count unique                     top freq
ORGANISATION
academic                            9      4                  hacked    4
app                                 2      2                  hacked    1
energy                              3      2              inside job    2
financial                          31      5                  hacked   17
gaming                              6      1                  hacked    6
government                         37      5                  hacked   15
government, healthcare              2      1                  hacked    2
government, military                1      1    lost / stolen device    1
healthcare                         36      5    lost / stolen device   20
legal                               1      1                  hacked    1
media                               3      2                  hacked    2
military                            6      4    lost / stolen device    3
military, healthcare                1      1    lost / stolen device    1
retail                             15      4                  hacked   11
tech                               10      2                  hacked    9
tech, retail                        2      2    lost / stolen device    1
tech, web                           2      1                  hacked    2
telecoms                            9      4                  hacked    5
transport                           3      3  accidentally published    1
web                                69      5                  hacked   60
web, gaming                         1      1                  hacked    1
web, military                       1      1                  hacked    1
web, tech                           1      1                  hacked    1

                       RECORDS LOST                        YEAR               \
                              count unique       top freq count unique   top
ORGANISATION
academic                          9      9     73000    1     9      5  2008
app                               2      2   1000000    1     2      1  2017
energy                            3      3  11100000    1     3      3  2012
financial                        31     29   5000000    2    31     12  2014
gaming                            6      6   1290755    1     6      3  2011
government                       37     31   3000000    3    37      9  2008
government, healthcare            2      2    780000    1     2      2  2009
government, military              1      1  26500000    1     1      1  2006
healthcare                       36     36    800000    1    36      9  2011
legal                             1      1  11500000    1     1      1  2016
media                             3      3  10000000    1     3      3  2011
military                          6      6  76000000    1     6      3  2009
military, healthcare              1      1   4901432    1     1      1  2011
retail                           15     15    800000    1    15      7  2014
tech                             10     10     50000    1    10      5  2015
tech, retail                      2      2  12367232    1     2      2  2006
tech, web                         2      2    450000    1     2      2  2013
telecoms                          9      9   2000000    1     9      6  2006
transport                         3      3     52000    1     3      2  2014
web                              69     62   6000000    3    69     12  2017
web, gaming                       1      1  32000000    1     1      1  2009
web, military                     1      1    163792    1     1      1  2012
web, tech                         1      1   4700000    1     1      1  2013


                       freq
ORGANISATION
academic                  3
app                       2
energy                    1
financial                 4
gaming                    4
government                6
government, healthcare    1
government, military      1
healthcare                9
legal                     1
media                     1
military                  3
military, healthcare      1
retail                    5
tech                      3
tech, retail              1
tech, web                 1
telecoms                  2
transport                 2
web                      14
web, gaming               1
web, military             1
web, tech                 1

In [91]:
by_comp.describe().transpose()

ORGANISATION                                      academic  \
DATA SENSITIVITY count                                   9
                 unique                                  3
                 top                                   SSN
                 freq                                    6
ENTITY           count                                   9
                 unique                                  9
                 top     University of California Berkeley
                 freq                                    1
METHOD OF LEAK   count                                   9
                 unique                                  4
                 top                                hacked
                 freq                                    4
RECORDS LOST     count                                   9
                 unique                                  9
                 top                                 73000
                 freq                                    1
YEAR             count                                   9
                 unique                                  5
                 top                                  2008
                 freq                                    3

ORGANISATION                                 app  \
DATA SENSITIVITY count                         2
                 unique                        2
                 top     Credit card information
                 freq                          1
ENTITY           count                         2
                 unique                        2
                 top                     Waterly
                 freq                          1
METHOD OF LEAK   count                         2
                 unique                        2
                 top                      hacked
                 freq                          1
RECORDS LOST     count                         2
                 unique                        2
                 top                     1000000
                 freq                          1
YEAR             count                         2
                 unique                        1
                 top                        2017
                 freq                          2

ORGANISATION                                    energy  \
DATA SENSITIVITY count                               3
                 unique                              2
                 top                               SSN
                 freq                                2
ENTITY           count                               3
                 unique                              3
                 top     New York State Electric & Gas
                 freq                                1
METHOD OF LEAK   count                               3
                 unique                              2
                 top                        inside job
                 freq                                2
RECORDS LOST     count                               3
                 unique                              3
                 top                          11100000
                 freq                                1
YEAR             count                               3
                 unique                              3
                 top                              2012
                 freq                                1

ORGANISATION                           financial                     gaming  \
DATA SENSITIVITY count                        31                          6
                 unique                        4                          3
                 top     Credit card information                        SSN
                 freq                         12                          3
ENTITY           count                        31                          6
                 unique                       27                          6
                 top                   Citigroup  Sony Online Entertainment
                 freq                          3                          1
METHOD OF LEAK   count                        31                          6
                 unique                        5                          1
                 top                      hacked                     hacked
                 freq                         17                          6
RECORDS LOST     count                        31                          6
                 unique                       29                          6
                 top                     5000000                    1290755
                 freq                          2                          1
YEAR             count                        31                          6
                 unique                       12                          3
                 top                        2014                       2011
                 freq                          4                          4

ORGANISATION                                             government  \
DATA SENSITIVITY count                                           37
                 unique                                           5
                 top                                            SSN
                 freq                                            21
ENTITY           count                                           37
                 unique                                          37
                 top     Service Personnel and Veterans Agency (UK)
                 freq                                             1
METHOD OF LEAK   count                                           37
                 unique                                           5
                 top                                         hacked
                 freq                                            15
RECORDS LOST     count                                           37
                 unique                                          31
                 top                                        3000000
                 freq                                             3
YEAR             count                                           37
                 unique                                           9
                 top                                           2008
                 freq                                             6

ORGANISATION               government, healthcare    government, military  \
DATA SENSITIVITY count                          2                       1
                 unique                         2                       1
                 top                          SSN                     SSN
                 freq                           1                       1
ENTITY           count                          2                       1
                 unique                         2                       1
                 top     Virginia Dept. Of Health  US Dept of Vet Affairs
                 freq                           1                       1
METHOD OF LEAK   count                          2                       1
                 unique                         1                       1
                 top                       hacked    lost / stolen device
                 freq                           2                       1
RECORDS LOST     count                          2                       1
                 unique                         2                       1
                 top                       780000                26500000
                 freq                           1                       1
YEAR             count                          2                       1
                 unique                         2                       1
                 top                         2009                    2006
                 freq                           1                       1

ORGANISATION                                        healthcare  \
DATA SENSITIVITY count                                      36
                 unique                                      5
                 top                            Email password
                 freq                                       17
ENTITY           count                                      36
                 unique                                     36
                 top     Emergency Healthcare Physicians, Ltd.
                 freq                                        1
METHOD OF LEAK   count                                      36
                 unique                                      5
                 top                      lost / stolen device
                 freq                                       20
RECORDS LOST     count                                      36
                 unique                                     36
                 top                                    800000
                 freq                                        1
YEAR             count                                      36
                 unique                                      9
                 top                                      2011
                 freq                                        9

ORGANISATION                                 legal    ...     \
DATA SENSITIVITY count                           1    ...
                 unique                          1    ...
                 top     Full bank account details    ...
                 freq                            1    ...
ENTITY           count                           1    ...
                 unique                          1    ...
                 top               Mossack Fonseca    ...
                 freq                            1    ...
METHOD OF LEAK   count                           1    ...
                 unique                          1    ...
                 top                        hacked    ...
                 freq                            1    ...
RECORDS LOST     count                           1    ...
                 unique                          1    ...
                 top                      11500000    ...
                 freq                            1    ...
YEAR             count                           1    ...
                 unique                          1    ...
                 top                          2016    ...
                 freq                            1    ...

ORGANISATION                              retail                tech  \
DATA SENSITIVITY count                        15                  10
                 unique                        3                   4
                 top     Credit card information  Online information
                 freq                          9                   4
ENTITY           count                        15                  10
                 unique                       15                  10
                 top         Dai Nippon Printing               Slack
                 freq                          1                   1
METHOD OF LEAK   count                        15                  10
                 unique                        4                   2
                 top                      hacked              hacked
                 freq                         11                   9
RECORDS LOST     count                        15                  10
                 unique                       15                  10
                 top                      800000               50000
                 freq                          1                   1
YEAR             count                        15                  10
                 unique                        7                   5
                 top                        2014                2015
                 freq                          5                   3

ORGANISATION                     tech, retail           tech, web  \
DATA SENSITIVITY count                      2                   2
                 unique                     1                   1
                 top                      SSN  Online information
                 freq                       2                   2
ENTITY           count                      2                   2
                 unique                     2                   2
                 top          Hewlett Packard         Yahoo Japan
                 freq                       1                   1
METHOD OF LEAK   count                      2                   2
                 unique                     2                   1
                 top     lost / stolen device              hacked
                 freq                       1                   2
RECORDS LOST     count                      2                   2
                 unique                     2                   2
                 top                 12367232              450000
                 freq                       1                   1
YEAR             count                      2                   2
                 unique                     2                   2
                 top                     2006                2013
                 freq                       1                   1

ORGANISATION                       telecoms               transport  \
DATA SENSITIVITY count                    9                       3
                 unique                   3                       2
                 top     Online information                     SSN
                 freq                     5                       2
ENTITY           count                    9                       3
                 unique                   8                       3
                 top                   AT&T          Japan Airlines
                 freq                     2                       1
METHOD OF LEAK   count                    9                       3
                 unique                   4                       3
                 top                 hacked  accidentally published
                 freq                     5                       1
RECORDS LOST     count                    9                       3
                 unique                   9                       3
                 top                2000000                   52000
                 freq                     1                       1
YEAR             count                    9                       3
                 unique                   6                       2
                 top                   2006                    2014
                 freq                     2                       2

ORGANISATION                            web         web, gaming  \
DATA SENSITIVITY count                   69                   1
                 unique                   5                   1
                 top     Online information  Online information
                 freq                    38                   1
ENTITY           count                   69                   1
                 unique                  64                   1
                 top                    AOL            RockYou!
                 freq                     3                   1
METHOD OF LEAK   count                   69                   1
                 unique                   5                   1
                 top                 hacked              hacked
                 freq                    60                   1
RECORDS LOST     count                   69                   1
                 unique                  62                   1
                 top                6000000            32000000
                 freq                     3                   1
YEAR             count                   69                   1
                 unique                  12                   1
                 top                   2017                2009
                 freq                    14                   1

ORGANISATION                   web, military web, tech
DATA SENSITIVITY count                     1         1
                 unique                    1         1
                 top      Online information       SSN
                 freq                      1         1
ENTITY           count                     1         1
                 unique                    1         1
                 top     Militarysingles.com  SnapChat
                 freq                      1         1
METHOD OF LEAK   count                     1         1
                 unique                    1         1
                 top                  hacked    hacked
                 freq                      1         1
RECORDS LOST     count                     1         1
                 unique                    1         1
                 top                  163792   4700000
                 freq                      1         1
YEAR             count                     1         1
                 unique                    1         1
                 top                    2012      2013
                 freq                      1         1

[20 rows x 23 columns]

Imoprt the excel file

In [92]:
df.to_csv('/Users/rosenrot/Downloads/Information2.csv')

Tableau Link

https://public.tableau.com/profile/nishant.singh6271#!/vizhome/WorldsBiggestDataBreaches_9/Dashboard1?publish=yes

"Security breaches are becoming less severe ?"

No, according to me the security Breaches are becooming more severe

RoadMap:To make my case I have to have 4 major things I need which are,
Year, frequency of incidents, Type of organization & Entity Names!!
    
Audience: The audience is a Security team.
Goals: Data to Decsion 
Questions: What's wrong? Who is getting hit the most ?

Link to the tableau Visualziation

https://public.tableau.com/views/SecurityBreachesbecomingmoresevere/Dashboard1?:embed=y&:display_count=yes

Version 1: Records Lost Vs Year

https://public.tableau.com/profile/nishant.singh6271#!/vizhome/SecurityBreachesbecomingmoresevere/Sheet1

Advantages: It represents total number of records lost per year to indicate that the records stolen due to 
security breaches over the years.

Disadvantages: Inorder to understand the Visulaization and its objective it needs more information!!!!

Version 2: Non Tech. Vs Tech. 

https://public.tableau.com/profile/nishant.singh6271#!/vizhome/SecurityBreachesbecomingmoresevere/Sheet2

Advantages: The graph here compares the  Tech firms & Non-tech firms and calculates the average data stolen between the two.
Now the graph  clearly start telling us a story! Though the no of incidents are almost the same over the years but the 
amount of data loss is very high in Tech. firms!!!

Disadvantages: Still to tell a story we need more details, something is still missing!!!

Final version: Security Breaches becoming more severe ?
https://public.tableau.com/profile/nishant.singh6271#!/vizhome/SecurityBreachesbecomingmoresevere/Sheet3

Advantage:
    
This Visualization now is complete after adding data Sensitivity and Organization type. The senstivity of data is an indicator of how smart the hackers have become.Social security details are on a rise which could potentially have a tremendous impact on the people.The organization type indicates which types of organization are more vunerable and according to my analysis the compaines in the tech domain seem to be the victims of these hacks. The tech savy compaines should increase their security and allocate more funding to stop this.

Future Enhancements: If I had more time to go over this again I would definetely play with the data to generate more metrics
    to better represent my visualization for taking an efective decision.